<p>Cher <%= @user.first_name %>,<p>
<p>Vous n’avez pas encore confirmé votre compte car vous avez du recevoir votre confirmation dans vos indésirables.</p>
<p>Vous pouvez soit checker vos indésirable soit <a href="https://www.happydining.fr/resend-confirmation">demander l’envoi d’un nouvel email de confirmation.</a></p>
<br>
<p>Nous restons à votre disposition.</p>
<p>L’équipe Happy Dining</p>
<p>09.52.66.53.19<p>
<p><a href="https://www.happydining.fr">www.happydining.fr</a>
<br>
<br>
<img src="https://s3-eu-west-1.amazonaws.com/happydining/small-logo.png" height="80px">
<br>
<br>
<em style="font-size: 0.8em">Si vous ne voulez plus recevoir d'emails de Happy Dining, vous pouvez cliquer ici : <a href=<%= @unsubscribe_link %>>"désinscrire"</a></em>
