<p>Félicitations. Vous avez parrainé <%= @user.full_name %> qui est maintenant inscrit.</p>
<p>Dès que cette personne aura fait sa permière réservation, vous serez crédité automatiquement de <%=@user.referral_amount %> Euros sur votre compte.</p>
<p>L'équipe Happy Dining</p>
