<h1>New Referral Payment</h1>
<p>Congrats. You referred <%= @user.full_name %> and they just completed their first reservation!</p>

<p>You now have an extra <%= @amount %> euros in your Happy Dining balance!<p>