<h1>New Referral</h1>
<p>Congrats. You referred <%= @user.full_name %> and they signed up!</p>

<p>All they have to do now is finish their first reservation and you get <%=@user.referral_amount %> euros!<p>