<p>Bonjour <%= @user.first_name %>!</p>

<p>Une demande de réinitialisation de votre mot de passe Happy Dining vient d'être effectuée.</p>

<p>Pour le reconfigurer, veuilliez cliquer sur le lien ci-dessous :
<p><%= link_to 'Changer mon mot de passe', edit_password_url(user_id: @user.id, password_reset_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ne pas tenir compte de ce mail.</p>
