<p>Bonjour,</p>
<p>Vous avez reçu la visite de clients Happy Dining au nom de <%= @booking_name %></p>
<p>Je vous invite à remplir le montant de l'addition en cliquant 
	<a href="http://goo.gl/forms/abDiwd7eQ3">ici.</a></p>
<p>PS : si vous avez eu plusieurs réservations, remplissez un formulaire par client.</p>
<br>
<p>A très vite,</p>
<p>L'équipe Happy Dining.</p>
<p><span style="font-weight: bold;">Contact : </span>09.52.66.53.19 / 06.25.94.09.95</p>