<p>This is just letting admins know that a reservation validation email was just sent to <%= @restaurant_name %> for the reservation with the booking name of <%= @booking_name %><p>
<p>This has been another amazing feature brought to you by your genius developer ;)</p>