<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', 'http://localhost:4200/confirmation?user=' + @resource.id.to_s + '&confirmation_token=' + @token %></p>
